<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rinoize.rijv880test" android:versionCode="1" android:versionName="0.1.0">
  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35"/>
  <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
  <uses-feature android:name="android.software.midi" android:required="false"/>
  <application android:label="RiJV880 Test" android:allowBackup="false" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Material.NoActionBar" android:extractNativeLibs="true">
    <activity android:name="com.rmsl.juce.JuceActivity" android:exported="true" android:screenOrientation="sensorLandscape" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|navigation|smallestScreenSize|screenLayout|uiMode">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
